* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal ;    
}

body,
input,
textarea {
    font-family: 'Roboto' , sans-serif;
}

header {
    padding: 16px 0;
    background-color: #cfa14c;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container img {
    height: 600px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, 
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}
.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section .container h2 {
    margin-bottom: 16px;
}

section .containe h2 {
    margin-left: 50px;
}

section h2,
h3 {
    color: #cfa14c
}

section {
    color:black;
}

section .container p {
    margin-bottom: 8px;
}

section .containe p {
    margin-left: 50px;
}

.store-front {
    margin-right: 32px;
    border-radius: 10px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #fcf3d7;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #cfa14c;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #f5c05e;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #cfa14c;
    color: #ecf0f1;
    padding: 16px 0;
}

section .containe {
    display: contents; 
}

section .fotoslindas img {
    height: 300px;
}

.Jake li {
    display: inline;
    margin:auto
}

section .containe h3, li {
    margin-left: 50px;
}


